<div class="row">
  <div class="col-md-12">
    <div class="stars">
      <div class="empty-star">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
      <div
        class="fillted-star"
        [ngStyle]="{
          width: getrating * 20 + '%'
        }"
      >
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
    </div>
  </div>
</div>
