<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="iscollapse = !iscollapse"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngClass]="{
      collapse: iscollapse
    }"
    class="navbar-collapse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
    </ul>
  </div>
</nav>
