<div class="row">
  <div class="col-md-4 mb-2" *ngFor="let active of activeUserArr">
    <div class="card">
      <div class="card-header">
        Name: <strong>{{ active.name }}</strong>
      </div>
      <div class="card-body">
        Username: <strong>{{ active.username }}</strong> <br />
        Id: <strong>{{ active.id }}</strong
        ><br />
        website : <strong>{{ active.website }}</strong>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-outline-primary">Edit</button>
        <button class="btn btn-outline-danger">Remove</button>
      </div>
    </div>
  </div>
</div>
