.categories {
  position: sticky;
  top: 0;
  left: 0;
}
.color {
  background-color: rgb(255, 187, 0);
  &.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
}
